@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

:root {
  --dark-color: #000;
  --brown-color: #463b36;
}

/***** Custom Style *****/

body {
  font-family: "Nunito", sans-serif;
  height: 100%;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #fbfaf8;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.container-left {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
  padding-bottom: 60px;
  background-image: url("src/bg-a.jpg");
  background-size: 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.container-right {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
  padding: 0 20px 20px 20px;
  padding-bottom: 60px;
}

video {
  width: 100%;
  background-position: center;
  background-image: cover;
}

.info-box {
  font-family: inherit;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  width: 90%;
  border-radius: 8px;
  padding: 16px;
  border: 1px solid rgb(202, 202, 202);
  box-shadow: 0 0 0 1px rgb(0 0 0 / 7%), 0 2px 4px 0 rgb(0 0 0 / 7%),
    0 1px 1.5px 0 rgb(0 0 0 / 5%);
  margin: -40px auto;
  z-index: 2;
  color: var(--dark-color);
}

.container-left .info-box h2 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1.2px;
}

.info-box > p {
  font-size: 19px;
  color: var(--brown-color);
}

.info-box span {
  vertical-align: middle;
}

.info-box span #country_img {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.info-box span #cloud_img {
  display: inline-block;
  vertical-align: middle;
}

.container-left .content {
  font-family: inherit;
  display: flex;
  flex-direction: column;
  padding: 40px 20px 0 20px;
  color: var(--dark-color);
}

.content > h1 {
  font-size: 32px;
  font-weight: 800;
  letter-spacing: 1.2px;
  margin-top: 24px;
}

.content > h2 {
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 1.2px;
  margin-top: 14px;
}

.content > h2::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 8px;
  content: "\f058";
}

.content > p {
  font-size: 16px;
  font-weight: 400;
  color: var(--brown-color);
}

.container-right .content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px 0;
}

.container-right .content p {
  margin-top: 16px;
}

.container-right .info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 20px 0;
}

.container-right .info-box .text-box {
  display: flex;
  justify-content: center;
  margin: 24px 0;
}

.container-right .info-box .text-box .left {
  width: 40%;
}

.container-right .info-box .text-box .left h2 {
  font-size: 16px;
  font-weight: 900;
}

.container-right .info-box .text-box .right {
  display: block;
  text-align: left;
  width: 60%;
}

.container-right .info-box .text-box .right h2 {
  font-size: 16px;
  font-weight: 400;
}

.container-right .info-box .text-box .right h2::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 8px;
  content: "\f14a";
}

@media only screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .container-right {
    width: 100%;
    /*     height: 100%; */
    margin-bottom: 0;
    padding-bottom: 60px;
  }

  .container-left {
    width: 100%;
    /*     height: 100%; */
    background-color: rgb(0, 200, 255);
  }
}
